
<div class="ui blue hidden inverted vertical stripe segment" id="showResultSegment">
    <div class="ui grid container">
        <div class="row">
            <div class="three wide left column"></div>
            <div class="ten wide center aligned column">
                <div class="ui stripe segment">
                    <h2>{{bankName}}</h2>
                    <p>{{bankBranch}}</p>
                    <h1>{{ifsc}}</h1>
                    <h4>Address</h4>
                    <p>{{address}}</p>
                    <p>{{city}} - {{state}}</p>
                </div>
                <div class="three wide right column"></div>
            </div>
        </div>
    </div>
</div>
